/* #region font electrolize */
.electrolize-regular {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* #endregion */

/* #region font lato  */

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* #endregion */

/* #region root */
:root {
    --main:rgb(6, 57, 108);
    --acc: white;
}
/* #endregion */

/* #region body */
body{
    font-family: "Electrolize";
    margin: 0px;
    padding: 0px;
}
/* #endregion */

/* #region header */

.headercontainer {
    height: 100vh;
}

.headerbackground {
    background: linear-gradient(180deg, rgba(6, 57, 108, 0.6), rgb(6, 57, 108, 0.6)), url(media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titolo {
    color: var(--acc);
}

/* #endregion */

/* #region navbar */
.customNavbar{
    background-color: var(--main);
}

.iconanav{
    height: 60px;
    margin-left: 3vw;
    
}

.loremnav{
    border-left: 2px solid var(--acc);
}

.links1{
    border-left: 2px solid var(--acc);
    padding-left: 10px;
    margin-left: 20px;
}

/* #endregion */

/* #region section1 */

.section1{
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.testoparagrafo{
    font-family: "Lato";
    color: gray;
}

.titolocards1{
    font-size: 25px;
    font-weight: bolder ;
    font-family: "Lato";
    color: var(--main);
}



.testocards{
    font-size: 15px;
    font-weight: bold ;
    font-family: "Lato";
}

/* #endregion */

/* #region header2 */

.header2{
    height: 80vh;
    background: linear-gradient(180deg, rgba(6, 57, 108, 0.6), rgb(6, 57, 108, 0.6)), url(media/power-plant-4712830_1280.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.titolo2{
    font-size: 80px;
    color: var(--acc);
    padding-top: 100px;
}

.grosso{
    font-size: 50px;
}

.grasso{
    font-size: 18px;
    font-family: "Lato";
    font-weight: bold;
}


/* #endregion */

/* #region section 2 */

.rowsection2{
    position: relative;
}

.section2-1{
    height: 80%;
    width: 45%;
    background: var(--main);
    border: 4px solid var(--acc);
    position: absolute;
    top: -100px;
    left: 100px;
}

.section2-2{
    height: 80%;
    width: 45%;
    background: var(--acc);
    position: absolute;
    left: 720px;
}


.paragrafocards{
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 70px;
    color: var(--acc);
}

.paragrafocards2{
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 70px;
    color: var(--main);
}

.altroparagrafocards2{
    padding-left: 50px;
    padding-top: 40px;
    padding-right: 70px;
}


.imaginepannelli{
    width: 60%;
    height: 60%;
}

/* #endregion */

/* #region section 3- botton */
.containerbotton{
    height: 80vh;
}

.bottone{
    background-color: var(--main);
    width: 20vw;
}

.h3bottone{
    color: white
}

/* .justcolormain{
color: var(--main);
} */

/* #endregion */

/* #region section 4 */

.imagemap{
    margin-top: 10vh;
    width: 90%;
    height: 90%;
}

/* #endregion */

/* #region section 5 */
.section5{
    margin-top: 30vh;
    margin-bottom: 20vh;
}



.cards3{
    height: 30vh;
    width: 80vh;
    background: url(media/wave.png);
    padding-top: 3vh;
    position: relative;
}


.backgroundcards5{
    width: 50%;
    background: linear-gradient(90deg, rgba(6,57,108,1) 0%, rgba(6,57,108,0.7323503521126761) 0%, rgba(255,255,255,0) 70%);    
    position: absolute;
    top: -20px;
    left: -20px;
}


/* 
linear-gradient(rgb(25, 10, 184), transparent) */

/* #endregion */

/* #region section 6 */

.section6{
      position: relative;
      height: 100vh;

}

.testostuff{
    z-index: 1;
    color: white;
}

.grossotesto{
    font-size: 50px;
}

.section6::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--main);
    z-index: 0;
  }


  .topbackgrouns6{
    height: 38%;
  }


.cards6{
    height: 30vh;
    width: 60vh;
    background: linear-gradient(180deg, rgba(6, 57, 108, 0.6), rgb(6, 57, 108, 0.6)), url(media/sun.png);
    background-size: cover;
    background-position: center;
    margin: 20px 13px 20px 13px;
    z-index: 1;
}

/* #endregion */



